<div class="sidenav-overlay" id="sidenavOverlay"></div>
<div class="sidenav" id="sidenav">
  <ul class="navbar-menu" data-nav-root>
    <li class="nav-item dropdown"><a class="nav-link" href="san-pham/gach-op-lat/index.html">Gạch ốp lát</a><div class="dropdown-menu"><ul><li><a href="san-pham/gach-op-lat/index.html?category=porcelain-kho-lon#pd-filters">Porcelain khổ lớn</a></li><li><a href="san-pham/gach-op-lat/index.html?category=bo-suu-tap-platinum#pd-filters">Bộ sưu tập Platinum</a></li><li><a href="san-pham/gach-op-lat/index.html?category=united-tiles-1#pd-filters">United Tiles</a></li><li><a href="san-pham/gach-op-lat/index.html?category=bst-song-hong#pd-filters">BST Sông Hồng</a></li><li><a href="san-pham/gach-op-lat/index.html?category=bst-cuu-long#pd-filters">BST Cửu Long</a></li><li><a href="san-pham/gach-op-lat/index.html?category=san-pham-khac#pd-filters">Sản phẩm khác</a></li></ul></div></li>
    <li class="nav-item dropdown"><a class="nav-link" href="san-pham/thiet-bi-ve-sinh/index.html">Thiết bị vệ sinh</a><div class="dropdown-menu"><ul><li><a href="san-pham/thiet-bi-ve-sinh/voi-nuoc.html">Vòi nước</a></li><li><a href="#">Lavabo</a></li><li><a href="#">Bồn cầu</a></li><li><a href="#">Bồn tắm</a></li><li><a href="#">Sen tắm</a></li><li><a href="#">Khung âm và nút nhấn</a></li><li><a href="#">Gessi</a></li><li><a href="#">Villeroy &amp; Boch</a></li></ul></div></li>
    <li class="nav-item dropdown"><a class="nav-link" href="#">Sàn gỗ</a><div class="dropdown-menu"><ul><li><a href="#">Sàn gỗ Laminate</a></li></ul></div></li>
    <li class="nav-item"><a class="nav-link" href="ve-chung-toi.html">Về chúng tôi</a></li>
    <li class="nav-item"><a class="nav-link" href="du-an.html">Dự án</a></li>
    <li class="nav-item"><a class="nav-link" href="catalogue.html">Catalogue</a></li>
    <li class="nav-item dropdown"><a class="nav-link" href="tin-tuc/cam-hung-thiet-ke.html">Tin Tức</a><div class="dropdown-menu"><ul><li><a href="tin-tuc/cam-hung-thiet-ke.html">Cảm hứng thiết kế</a></li><li><a href="tin-tuc.html?category_id=tin-san-pham">Tin sản phẩm</a></li><li><a href="tin-tuc.html?category_id=cong-ty">Tin công ty</a></li><li><a href="tin-tuc.html?category_id=tin-khuyen-mai">Tin khuyến mãi</a></li></ul></div></li>
    <li class="nav-item"><a class="nav-link" href="#">Showroom 3D</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Tuyển dụng</a></li>
  </ul>
</div>
