<div class="sidenav-overlay" id="sidenavOverlay"></div>
<div class="sidenav" id="sidenav">
  <ul class="navbar-menu" data-nav-root>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#">Gạch ốp lát</a>
      <div class="dropdown-menu">
        <ul>
          <li><a href="gach-van-da-marble.html">Gạch vân đá marble</a></li>
          <li><a href="#">Gạch vân đá tự nhiên</a></li>
          <li><a href="#">Gạch vân gỗ</a></li>
          <li><a href="#">Gạch thiết kế xi măng</a></li>
          <li><a href="#">Gạch trang trí</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#">Thiết bị vệ sinh</a>
      <div class="dropdown-menu">
        <ul>
          <li><a href="#">Vòi nước</a></li>
          <li><a href="#">Lavabo</a></li>
          <li><a href="#">Bồn cầu</a></li>
          <li><a href="#">Bồn tắm</a></li>
          <li><a href="#">Sen tắm</a></li>
          <li><a href="#">Khung âm và nút nhấn</a></li>
          <li><a href="#">Gessi</a></li>
          <li><a href="#">Villeroy &amp; Boch</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#">Sàn gỗ</a>
      <div class="dropdown-menu">
        <ul>
          <li><a href="#">Sàn gỗ Laminate</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="ve-chung-toi.html">Về chúng tôi</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Dự án</a></li>
    <li class="nav-item"><a class="nav-link" href="catalogue.html">Catalogue</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#">Tin Tức</a>
      <div class="dropdown-menu">
        <ul>
          <li><a href="#">Cảm hứng thiết kế</a></li>
          <li><a href="#">Tin sản phẩm</a></li>
          <li><a href="#">Tin công ty</a></li>
          <li><a href="#">Tin khuyến mãi</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="#">Showroom 3D</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Tuyển dụng</a></li>
  </ul>
</div>
